@primary-background-color: #182229;
@secondary-background-color: #0E141B;

@primary-text-color: #b6b6b6;
@secondary-title-color: #E60B6F;

@url-highlight-color: #007BFF;

@button-background-color: #0260c4;
@button-border-color: #007BFF;
@button-text-color: #FFFFFF;

@error-color: #E74C3C;
@success-color: #2ECC71;

@primary-color: #0267d2;
@secondary-text-color: #555;
@light-text-color: #579df5;